.advertisement {
    position: absolute;
    left: 3px;
    top: 5px;
    width: 100px; 
    height: 150px;
    border-color:black;
	border-width: 2px;
    background-color: gray;
    color: black;
    text-align: center;
    padding-top: 10px;
}


.header {
    display: flex;
    justify-content: start; 
    flex-wrap: wrap; 
    padding: 20px;
    background-color: #fff;
    position: relative;
	width: 70%;
	
}


.logo, .title {
    display: inline-block;
    vertical-align: middle;
	
}

.logo img{
	order: 1px;padding-left: 190px;
}

.content {
	text-align: justify;
    width: 70%;
    margin: auto;
    background-color: #fff;
    padding: 20px;
}

.image img {
	float: left;
    width: 250px; 
    margin-right: 20px; 
}


.head {
    text-align: center;
    width: 100%;
    background-color: #f2f2f2;
    padding: 10px;
}

